.container {
	font-family: 'Open Sans', sans-serif;
}


.nav-content{
 /* margin: 0 auto;*/
 background-color: #1DB2F7;
  padding-left: 250px;
  width: 1240px;
  color: white;
  position: fixed;
  clear:bottom;
}

nav{
  display: inline-block;

}

nav a{
  position:relative;
  display: inline-block;
  left: 150px;
  width: 100px;
  line-height: 100px;
  color:white;
}

h1{
  float:left;
}


.content{
  margin: 0 auto;
  padding-top: 100px;
  width: 840px;
}
