.container {
  margin: 0 auto;
  width: 840px;
	font-family: 'Open Sans', sans-serif;
}


.content{
  padding-left: 10%;
  float:right;
  width: 60%;
  border-left: solid grey 2px;
}

nav ul {
  float: left;
  list-style: none;
}

footer{
  clear: both;
}